* {
    padding: 0;
    margin: 0;
}
a {
    color: #000000;
}
body {
margin: 0;
}
.gh-w {
margin-left: 10px !important;
}

table.tb_v4bc tr td {
padding-left: 10px;
}
#v4-3 > div.pagewidth > div > div > div > table:nth-child(10) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(1) {
 display: none !important;   
}
#body > div.pagewidth > div > div > div > table:nth-child(6) > tbody > tr > td > table:nth-child(2) > tbody > tr:nth-child(1) > td {
display:none !important;
}
.main-header {
    background-color: #ffd247;
    height: 59px;
}

/* responsive footer */
.stBadge {
min-width: 1310px !important;
   width: 100% !important;
   display: none;
}
.header {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
}

input {
    background-color: transparent;
    border: 0px;
    width: 268px;
    height: 33px;
    font-size: 18px;

}

.lang-nav {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 48px;
    position: relative;
}

.lang-nav>a {
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
    font-size: 12px;
    vertical-align: middle;
    position: absolute;
    left: 80px;
    top: 20px;
}

.logo-nav {
    display: table-cell;
    padding: 10px 155px 0px 40px;
    vertical-align: middle;
}

.search-nav {
    padding: 12px 0px;
    margin: 0px auto;
}

.search-input {
    width: 1142px;
    margin: 0px auto;
}

body > div > div.main-header > div > div.search-nav > div > form {
    width: 268px;
}
.top-nav {
    display: table-cell;
    padding-right: 25px;
    vertical-align: middle;
}

.top-nav>a {
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
    font-size: 13px;
}

.trash-nav {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 40px;
}

.trash-nav>a {
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
}

.trash-amount {
    display: table-cell;
    vertical-align: middle;
    padding-left: 24px;
}

.trash-inner {
    display: table-cell;
    vertical-align: middle;
    background-color: #0096cd;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
}

.main-menu-nav {
    background-color: #f3f3f3;
    height: 83px;
}

.menu-nav {
    position: relative;
    margin: auto;
    width: 1170px;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
}

.first-menu-item {
    display: table-cell;
    padding: 27px 120px 0px 0px;
}

.menu-items {
    display: table-cell;
    padding: 27px 0px 0px 85px;
}

.last-menu-item {
    display: table-cell;
	padding-left: 15px;
}

.last-menu-item>a {
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
}
.triangle-1 > img {
    left: 40px;
}
.triangle-2 > img {
    left: 300px;
}
.triangle-3 > img {
    left: 540px;
}
.triangle-4 > img {
    left: 785px;
}
.triangle-5 > img {
    left: 1055px;
}
.main-layout-header {
    margin: auto;
    width: 1000px;
    display: table;
    text-align: center;
    padding-top: 20px;
}

.main-layout-first {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-second {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-third {
    width: 24%;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-fourth {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-fifth {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-sixth {
    width: 24%;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}

.main-layout-seventh {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
}

.main-layout-eight {
    width: 24%;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
}

.main-layout-ninth {
    width: 24%;
    display: inline-block;
}

.layout-img {
    display: inline-flex;
    padding-left: 24px;
}

.layout-text {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin-top: 16px;
}

.layout-font {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}

.menu-items>a {
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
}

.first-menu-parent {
    text-decoration: none !important;
    font-family: sans-serif;
    color: #000000 !important;
}

.main-layout-box {
    position: absolute;
    width: 1010px;
    box-shadow: 0px 4px 5px;
    background-color: white;
    left: 80px;
    top: 70px;
    display: none;
    height: 360px;
}

.first-menu-parent:hover .main-layout-box {
    display: block;
}
.main-layout-transparent{
    padding-top: 40px;
}
.search-input{
    border: 1px solid;
    position: relative;
}
.i-position{
    position: absolute;
    left: 98%;
    top: 7px;
}

a {
  color: #fff;
  text-decoration:none;
}

h2 {
  margin:30px 0px;
  font-weight:normal;
}

/* General */
#css3-slider {
  margin:0px auto;
  padding:0px 0px;
  width:100%;
  height:456px;
  position:relative;
}

#css3-slider li {
  list-style:none;
  margin:0px;
  padding:0px;
}

/* Navigation */
#css3-slider li input + label {
  position:absolute;
  bottom:30px;
  left:10px;
  z-index:999;
  font:bold 11px/16px Arial,Sans-Serif;
  background-color: #fff;
  color:white;
  padding:0px 0px;
  width:12px;
  height: 12px;
  border-radius: 50%;
  text-align:center;
  cursor:pointer;
}

#css3-slider li:nth-child(1) label {left:48%;}
#css3-slider li:nth-child(2) label {left:50%;}
#css3-slider li:nth-child(3) label {left:52%;}

/* Images */
#css3-slider li img {
  border:none;
  outline:none;
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:456px;
  visibility:hidden;
  opacity:0;
  -webkit-transition:all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -ms-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
  -webkit-transform:translateX(0px) scale(1);
  -moz-transform:translateX(0px) scale(1);
  -ms-transform:translateX(0px) scale(1);
  -o-transform:translateX(0px) scale(1);
  transform:translateX(0px) scale(1);
}

/* Captions */
#css3-slider a {
  text-decoration:none !important;
}


/* Active navigation */
#css3-slider li input:checked + label {
  background-color:#ffd247;
  color:#ffd247;
}

/* Show the image with transition */
#css3-slider li input:checked ~ img,
#css3-slider li input:checked ~ a img {
  top:0%;
  left:0%;
  width:100%;
  height:456px;
  visibility:visible;
  -webkit-transform:translateX(0px) scale(1);
  -moz-transform:translateX(0px) scale(1);
  -ms-transform:translateX(0px) scale(1);
  -o-transform:translateX(0px) scale(1);
  transform:translateX(0px) scale(1);
  opacity:1;
  z-index:99;
}
/* Show the caption with fade effect */
#css3-slider li input:checked ~ a span {
  opacity:0;
  z-index:100;
}

/* Hide the radio */
#css3-slider input {
  display:none;
}

.dropdown {
    height: 45px;
}

.dropdown-content a {
    text-decoration: none;
    color: #000000;
}

.dropdown-content {
    position: absolute;
    width: 1120px;
    box-shadow: 0px 4px 5px;
    background-color: white;
    left: 18px;
    top: 70px;
    display: none;
    height: 360px;
    padding: 20px 0px 0px 20px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content>div {
    margin-right: -4px;
}

.footer-desktop {
    margin: 30px auto;
    width: 84%;
}
#CentralArea > div > div.footer-desktop > div.footer-ads-parent {
    max-width: 1920px;
    width: 100%;
}
#CentralArea > div.footer-desktop > div.footer-ads-parent {
    max-width: 1920px;
    width: 100%;
}
#CentralArea > div > div.footer-desktop > div.footer {
   	 width: 100%;
   	 margin: 10px 0;
}
#CentralArea > div.footer-desktop > div.footer {
   	 width: 100%;
   	 margin: 10px 0;
}
#CentralArea > div.footer-desktop > div.footer > div > p {
	float: left;
}
#CentralArea > div > div.footer-desktop > div.footer > div > p {
	float: left;
}
/* FILTER NAVIGATION BAR  */
.filter-container {
	height: 55px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #000000;
    font-weight: bold;
    opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
 	color: #000000;
    font-weight: bold;
    opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
 	color: #000000;
    font-weight: bold;
    opacity: 1;
}
.filter-container-row {
	position: relative; 
	margin: auto; 
	width: 1200px; 
	max-width: 100%; 
	padding-top: 8px;
}
.reg-number-container {
	width: 10%; 
	display: table-cell;
}
.reg-number {
	width: 160px; 
	border: 2px solid #000000; 
	border-radius: 5px; 
	height: 35px;
}
#reg-input {
	width: 141px; 
	margin-left: 19px; 
	height: 35px; 
	background-color: #ffd247; 
	border-radius: 0 5px 5px 0;
}
.reg-label {
	position: absolute; 
	height: 17px; 
	margin-top: -35px; 
	padding-top: 18px; 
	border-right: 2px solid #000000; 
	z-index: 10; 
	font-size: 12px; 
	background-color: #003399; 
	color: #ffd247; 
	border-radius: 2px 0 0 2px;
}
.reg-label > img {
	position: absolute; 
	margin-top: -17px;
}
.go-button {
	display: table-cell; 
	padding-left: 15px; 
	vertical-align: middle; 
	width:  80px;
}
.selects {
	display: table-cell; 
	padding-left: 40px;
	width: 760px;
}
.selects select {
	width: 190px; 
	height: 30px; 
	border: 1px solid #ffd247; 
	-webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
	-webkit-appearance: none;
        -moz-appearance: none;
	padding-left: 47px;
	background: url(http://res.cloudinary.com/shopimgs/image/upload/v1481818427/down_iwkdn2.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
}
.selects option {
	color: #000000;
}
/*MOBILE*/
.filter-container-mobile {
	height: 310px;
	padding: 0 20px; 
	display: none;
}
.selects-mobile {
	width: 100%;
	padding: 10px 0px;
}
.selects-mobile select {
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 5px;
	padding-left: 40%;  
}
.change-vehicle {
	background-color: #ffd247; 
	width: 80%; 
	height: 23px; 
	border-radius: 15px; 
	padding-top: 7px; 
	margin: 0px auto 20px auto; 
	text-align: center; 
	padding-left: 0px; 
	display: inline-block; 
	position: relative; 
	margin-left: 10%;
}
.go-mobile {
	background-color: #ffd247; 
	width: 105px; 
	height: 23px; 
	border-radius: 15px; 
	padding-top: 7px; 
	text-align: center; 
	padding-left: 0px; 
	display: inline-block; 
	position: relative; 
	float: right;
}
.car-header {
    display: inline-block;
}

.sorting-header {
    float: right;
    display: inline-flex;
    position: relative;
}

p.sorting-font {
    font-family: sans-serif;
}
.select-popular {
    margin-left: 10px;
}
.select-popular > select {
	width: 150px;
	border: 1px solid #000;
	padding: 2px 5px;
	border-radius: 4px;
	margin-right: 10px;
	margin-top: -4px;
}
.caret-position {
    position: absolute;
    left: 140px;
    top: 5px;
}

.caret-position-popular{
    position: absolute;
    left: 190px;
    top: 2px;
	display: none !important;
}
#CentralArea > div:nth-child(2) > div.middle-menu-nav-third > div:nth-child(1) > div.sorting-header > div > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
}

.slider-signature {
	position: absolute;
	top: 60px;
	left: 160px;
	color: #fff;
	font-size: 54px;
	font-weight: bold;
}
.slider-signature > span {
	color: #ffd247;
}


